{% extends 'base.html.twig' %}

{% block title %}New Crew{% endblock %}

{% block body %}



<h1>Manage {{crew.name}}</h1>

<form name="crew" method="post" id="form_crew">
  <div class="heading">
    {{ form_label(form.name) }}
  </div>
  {{ form_widget(form.name,{'attr': {'placeholder': 'Set name for crew...'}}) }}
  <div class="heading">
    <label>Add members to crew</label>
  </div>
  {{ include('user/search_form.html.twig') }}
  <div class="selected"></div>
  <div id="crew_users" class="addedUsers">
      {% for user in users %}
        {% if ( user) == (owner)  %}
          <div class="userItemadmin" >
          {% else %}
          <div class="userItem" >
          {% endif %}
            <input type="checkbox" id="crew_users_{{ user.id|e }}" name="crew[users][]" value="{{ user.id|e }}" checked>
            <span><label for="crew_users_{{ user.id|e }}">{{ user.username|e }}</label>
            <label for="crew_users_{{ user.id|e }}">{{ user.email|e }}</label></span>
            {% if ( user) == (owner)  %}
              <p>owner</p>
            {% else %}
              <select>
                {% for role in user.CrewRoles %}
                  {% if ( role.crew.id) == (currentId)  %}
                    {% if ( role.name) == 'test'  %}
                    <option value="test" data-crew="{{ currentId }}" data-user="{{ user.id|e }}" selected>test</option>
                    {% else %}
                    <option value="test" data-crew="{{ currentId }}" data-user="{{ user.id|e }}">test</option>
                    {% endif %}
                    {% if ( role.name) == 'other'  %}
                        <option value="other" data-crew="{{ currentId }}" data-user="{{ user.id|e }}" selected>other</option>
                    {% else %}
                        <option value="other" data-crew="{{ currentId }}" data-user="{{ user.id|e }}">other</option>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </select>
            {% endif %}
          </div>
      {% endfor %}
  </div>
  {{ form_errors(form) }}
  {{ form_widget(form.save) }}
  {{ form_widget(form._token) }}
</form>
<div id="newUser"></div>
  <a href='{{ path('crew_display',{'id':currentId}) }}'>back to crew</a>
<script>
var currentId='{{currentId}}';
  //


      $(document).on('click','#crew_save',function(e){
      e.preventDefault();
       var formCrew = $("#form_crew");
       var formnewCrew_data = formCrew.serialize();

       $.ajax({
         url: '{{ path('crew_edit',{'id':currentId}) }}',
         type: 'POST',
         dataType: 'json',
         data: formnewCrew_data,

         success:function(data){
            if(data.status == 'success'){
              console.log(formnewCrew_data)
              // Register role for every user
              $('#crew_users option:selected').each(function(){
                let val =$(this).val();
                let user= $(this).attr('data-user');
                let crew = $(this).attr('data-crew');
                $.ajax({
                 type:'POST',
                 url:'/crew/'+crew+'/'+user+'/'+val+'/role/add',
                 success:function(data) {
                   console.log(data);
                 }
               });
              })
            }
         }})
       })
       function displayResults(){

         if(results === undefined || results.length == 0 && $('#searchform input[type="search"]').val().length>2){

           $('#createNew').removeClass('hide');

             $('#searchform input[type="search"]').css('color', 'red');

         }
         else{
           $('#createNew').addClass('hide');
               $('#searchform input[type="search"]').css('color', 'black');
         }
         $('#users_results .userItem').remove();

           for(let i in results){
             $('#users_results').append('<div class="userItem" >\
             <input type="checkbox" id="crew_users_'+results[i]['id']+'" name="crew[users][]" value="'+results[i]['id']+'" checked>\
             <span><label for="crew_users_'+results[i]['id']+'">'+results[i]['username']+'</label>\
             <label for="crew_users_'+results[i]['id']+'">'+results[i]['email']+'</label></span>\
             <select><option value="test" data-crew="'+currentId+'" data-user="'+results[i]['id']+'">test</option>\
             <option value="other" data-crew="'+currentId+'" data-user="'+results[i]['id']+'">other</option></select></div>');
         }
       }
       function displayNewUser(data){
           $('.addedUsers').append('<div class="userItem" >\
           <input type="checkbox" id="crew_users_'+data.userId+'" name="crew[users][]" value="'+data.userId+'" checked>\
           <span><label for="crew_users_'+data.userId+'">'+data.username+'</label>\
           <label for="crew_users_'+data.userId+'">'+data.useremail+'</label></span>\
           <select><option value="test" data-crew="'+currentId+'" data-user="'+data.userId+'">test</option>\
           <option value="other" data-crew="'+currentId+'" data-user="'+data.userId+'">other</option></select></div>');
       }
    </script>
{% endblock %}
