{% extends 'base.html.twig' %}

{% block title %}New Crew{% endblock %}

{% block body %}



    <h1>Create new Crew</h1>

    {{ form_start(form,{'attr': {'id': 'form_crew'}}) }}
    <div>
      <div class="heading">
      {{ form_label(form.name) }}
      </div>
      {{ form_widget(form.name,{'attr': {'placeholder': 'Set name for crew...'}}) }}
      <div class="selected"></div>
      <div class="heading">
       {{ form_label(form.users) }}
      </div>
      {{ form_widget(form.users) }}
        {{ form_widget(form.save) }}
    </div>
    <div>
    <div class="heading">
  <label>Add members to crew</label>
    </div>

    {{ include('user/search_form.html.twig') }}
  </div>
    {{ form_end(form) }}

    <div id="newUser">

    </div>
    <!--a href="{{ path('password_index') }}">back to list</a-->
    <script>


    $('#crew_users').html('');
      var path='{{ path('user_new') }}';
    //  console.log(path);
      $.ajax({
        url: path,
        context: document.body
      }).done(function(data) {
        $( '#createNew' ).html( data );
      });

      $(document).on('click','#crew_save',function(e){
        e.preventDefault();

        $('#crew_users option:selected').each(function(){
          let val =$(this).val();
          let user= $(this).attr('data-user');
          let crew = $(this).attr('data-crew')-1;
          console.log(val,user,crew)

          $.ajax({
           type:'POST',
           url:'/crew/'+crew+'/'+user+'/'+val+'/role/add',
           success:function(data) {
             alert(data);
           }
         });
        })

})

    </script>
{% endblock %}
