{% extends 'base.html.twig' %}

{% block title %}Password index{% endblock %}

{% block body %}
    <h1>Mes mots de passe</h1>
<section id="passwords" class="">
        {% for password in passwords %}
        <div class="password-container">
          <a href="{{ password.url }}">

            <div class="password-container__header">
              <h3>  {{ password.name }}</h3>
            </div>
          </a>
            <div class="password-container__content">
                  {{ password.password }}
            </div>
            <div class="password-container__footer">
              <a href="{{ path('password_show', {'id': password.id}) }}">show</a>
              <a href="{{ path('password_edit', {'id': password.id}) }}">edit</a>
            </div>


          </div>
        {% else %}

                <p>no records found</p>

        {% endfor %}
</section>

    <!--a href="{{ path('password_new') }}">Create new</a-->
{% endblock %}
