{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{dateid}}

<form name="date_entity" method="post" id="date_entity">
<p> Type </p>
{{ form_widget(form.type)}}
<p> City </p>
{{ form_widget(form.city)}}
<p> Day </p>
{{ form_widget(form.day)}}
{{ include('user/search_form.html.twig') }}
<div class="selected"></div>

<p> Users </p>
<div id="date_entity_users" class="addedUsers">
    <div class="userItem">


    <input type="checkbox" id="date_entity_users_2" name="date_entity[users][]" value="2">
    <label for="date_entity_users_2">admin</label>
    </div>
</div>
<hr />
<div id="date_entity_schedule">

</div>


<br />
{{ form_widget(form.save)}}
{{ form_widget(form._token) }}

</form>


<script>
var currentId ="{{crewid}}";
var roles = ["promoter","soundtech",'lighttech'];

function displayNewUser(data){
    $('.addedUsers').append('<div class="userItem" >\
    <input type="checkbox" id="date_entity_'+data.userId+'" name="date_entity[users][]" value="'+data.userId+'" checked>\
    <span><label for="date_entity_'+data.userId+'">'+data.username+'</label>\
    <label for="date_entity_'+data.userId+'">'+data.useremail+'</label></span>\
    <select><option value="test" data-crew="'+currentId+'" data-user="'+data.userId+'">test</option>\
    <option value="other" data-crew="'+currentId+'" data-user="'+data.userId+'">other</option></select></div>');
}
</script>



{% endblock %}
