{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block navigation %}
<header>
  <nav>
    {% if app.user %}
    <div class="nav-left">
        <img class="logo_small" src=" {{asset('images/tourmanager.png')}}">


    </div>
    <div class="nav-center">

    {% for crew in app.user.crews %}
    <a href="/crew/{{  crew.id }}">  {{crew.name }}</a>
    {% endfor %}


      </div>

    <div class="nav-right">
        <div class="dropdown"><a href="/">Bonjour <b>{{ app.user.username }}</b> </a>
          <div>
          <a href="{{ path('user_show',{'id': app.user.id}) }}">Mes informations</a>
          <a href="{{ path('user_edit',{'id': app.user.id}) }}">Editer mon profil</a>
          <a href="/logout">Me déconnecter</a>
        </div>
       </div>
    </div>
        {% endif %}
  </nav>
</header>
{% endblock %}
