{{ form_start(form,{'attr': {'id': 'adduserForm'}}) }}

  <div class="heading">
<label>Create new member</label>
</div>
{{ form_widget(form.username,{'attr': {'placeholder': 'Username'}}) }}
  {{ form_widget(form.email,{'attr': {'placeholder': 'Email'}}) }}

  <button class="btn" id='adduser'>{{ button_label|default('+') }}</button>
{{ form_end(form) }}
